<% include partials/header %>

<div class="row">
    <div class="col-lg-3 col-md-5 col-sm-12">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
          Temperature
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          Volume
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          Distance
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          Poid
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          Frequence
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          temps
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          Pression
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          Bits
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          Vitesse
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          Energie
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          Puissance
        </a>
      </div>
    </div>
    <div class="col-lg-9 col-md-7 col-sm-12">
      <div class="card border-primary">
        <div class="card-header clw">Zone de Simulation</div>
        <div class="card-body text-primary">
          <div class="result-zone row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group">
                <label class="col-form-label col-form-label-sm">From</label>
                <input class="form-control form-control-sm" type="text" id="inputSmall">
              </div>
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action clw" >
                  Celcius
                </a>
                <a href="#" class="list-group-item list-group-item-action clw">
                  Kelvin
                </a>
                <a href="#" class="list-group-item list-group-item-action clw">
                  Fahrenheit
                </a>
                <a href="#" class="list-group-item list-group-item-action clw">
                  Rankine
                </a>
                <a href="#" class="list-group-item list-group-item-action clw">
                  Reaumur
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="center-elm"><a href="#"><img src="assets/images/fleche.jpg"></a></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group">
                <label class="col-form-label col-form-label-sm">Result</label>
                <div class="form-control alert-success" type="text" id="resultForConvert">
                </div>
              </div>
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action clw" >
                  Celcius
                </a>
                <a href="#" class="list-group-item list-group-item-action clw">
                  Kelvin
                </a>
                <a href="#" class="list-group-item list-group-item-action clw">
                  Fahrenheit
                </a>
                <a href="#" class="list-group-item list-group-item-action clw">
                  Rankine
                </a>
                <a href="#" class="list-group-item list-group-item-action clw">
                  Reaumur
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<h1 class="lead">Resumé :</h1>
<div>
    <img src="assets/images/tableau.png" class="img-responsive">
</div>

<% include partials/footer %>