<% include partials/header %>


<div class="row">
    <div class="col-lg-3 col-md-5 col-sm-12">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
          Cosinus()
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          Sinus()
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          f(x)=x^2
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          f(x)= ?
        </a>
      </div>
    </div>
    <div class="col-lg-9 col-md-7 col-sm-12">
      <div class="card border-primary">
        <div class="card-header clw">Zone de Simulation</div>
        <div class="card-body text-primary">
          <p class="simulation-zone" id="canva">

          </p>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <h1 class="lead">Decription :</h1>
  <div class="clw">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>


<% include partials/footer %>